//================================================================================
// Padding and margin defaults
//

$spacing: (
	none:       0,
	micro:      3px,
	tiny:       6px,
	small:      12px,
	medium:     24px,
	large:      36px,
	huge:       48px,
	giant:      60px,
	massive:    72px
);

//================================================================================
// Media queries
//

$xs-only:               "(max-width: #{$screen-xsl-max})";
$xsl-up:                "(min-width: #{$screen-xsl-min})";
$xsl-to-sm:             "(min-width: #{$screen-xsl-min}) and (max-width: #{$screen-sm-max})";
$xsl-only:              "(min-width: #{$screen-xsl-min}) and (max-width: #{$screen-xsl-max})";
$sm-up:                 "(min-width: #{$screen-sm-min})";
$sm-down:               "(max-width: #{$screen-sm-max})";
$sm-only:               "(min-width: #{$screen-sm-min}) and (max-width: #{$screen-sm-max})";
$md-up:                 "(min-width: #{$screen-md-min})";
$md-only:               "(min-width: #{$screen-md-min}) and (max-width: #{$screen-md-max})";
$lg-up:                 "(min-width: #{$screen-lg-min})";


//================================================================================
// Brand colors
//
$brand-colors: (
	purple:         #3E1951,
	dark-gray:      #302B39,
	light-gray:     #eee,
	white:          #fff
);


//================================================================================
// Breakpoints
//
$breakpoints: (
	xs-only:            $xs-only,
	xsl-up:             $xsl-up,
	xsl-to-sm:          $xsl-to-sm,
	xsl-only:           $xsl-only,
	sm-up:              $sm-up,
	sm-down:            $sm-down,
	sm-only:            $sm-only,
	md-up:              $md-up,
	md-only:            $md-only,
	lg-up:              $lg-up
);



//================================================================================
// Flexbox-related variables
//
$flex-justify: (
	start:              flex-start,
	end:                flex-end,
	center:             center,
	between:            space-between,
	around:             space-around,
	evenly:             space-evenly
);

$flex-align: (
	start:              flex-start,
	end:                flex-end,
	center:             center,
	baseline:           baseline,
	stretch:            stretch
);

$flex-direction: (
	row:                row,
	row-reverse:        row-reverse,
	column:             column,
	column-reverse:     column-reverse
);

$flex-align-self: (
	row:                row,
	row-reverse:        row-reverse,
	column:             column,
	column-reverse:     column-reverse
);

$flex-wrap: (
	nowrap:             nowrap,
	wrap:               wrap,
	wrap-reverse:       wrap-reverse,
);

// @TODO Make this a mixin and extend it past 12
$flex-order: (
	1:                  1,
	2:                  2,
	3:                  3,
	4:                  4,
	5:                  5,
	6:                  6,
	7:                  7,
	8:                  8,
	9:                  9,
	10:                 10,
	11:                 11,
	12:                 12
);

$flex-align-content: (
	start:              flex-start,
	end:                flex-end,
	center:             center,
	between:            space-between,
	around:             space-around,
	stretch:            stretch,
);

$flex-grow-shrink: (
	auto:               0 0 auto,
	shrink:             0 0 0,
	grow:               1 1 0,
);

$flex-columns: (
	one:                100%,
	two:                50%,
	three:              33.33%,
	four:               25%,
	five:               20%,
	six:                16.66%
);



//================================================================================
// Float / pull
//
$pull-directions: (
	left:               left,
	right:              right,
	none:               none
);



//================================================================================
// Text alignment
//
$text-alignment: (
	left:               left,
	right:              right,
	center:             center
);



//================================================================================
// Positioning
//
$positioning: (
	relative:           relative,
	static:             static,
	absolute:           absolute,
	fixed:              fixed
);